<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CSS Interaction No Class</title>
		<script src="vue.js"></script>
		<link rel="stylesheet" href="styles.css" />
	</head>
	<body>
		<div id="app">
			<!-- no class -->
			<div class="square" :style="{backgroundColor: color}"></div>
			<div class="square" :style="customStyles"></div>

			<!-- use array -->
			<div class="square" :style="[customStyles, {height: width + 'px'}]"></div>
			<hr />
			<input type="text" v-model="color" />
			<input type="text" v-model="width" />
			<!-- <input type="text" v-model="height" /> -->
		</div>

		<script src="index.js"></script>
	</body>
</html>
